<h1>ジャンル一覧</h1>
<%= form_with model: @genre, url: admin_genres_path do |f| %>
  <h4>Name</h4>
    <%= f.text_field :name %>
  <%= f.submit 'Create Genre' %>
<% end %>

<% @genres.each do |genre| %>
  <%= genre.name %>
<% end %>