<h1>注文履歴一覧</h1>
<% @orders.each do |order| %>
  <h4>購入日時</h4>
  <%= link_to order.created_at.to_s, admin_order_path(order) %>
  <h4>購入者</h4>
  <%= order.name %>
  <h4>注文個数</h4>
  <%= order.order_details.all.sum(:amount) %>
  <h4>注文ステータス</h4>
  <%= order.status %>
<% end %>
